In [1]:
import matplotlib.pyplot as plp
import pandas as pd
from tabulate import tabulate
import tabula

In [2]:
pdf = tabula.read_pdf('../Data/Elmer Brum 04-03 a 10-03.pdf', pages='all')

In [5]:
pdf[0]

,Dia do\rinvestimento,Quantidade de\rapostas,Valor investido no dia / Resultado\rem R$ sobre o valor investido,Resultado em %\rsobre a banca
0,04/03/2024,2,"R$ 28,52 / - R$ 28,52","- 2,0000%"
1,05/03/2024,Sem apostas,NaN,NaN
2,06/03/2024,1,"R$ 28,52 / + R$ 14,26","+ 1,0000%"
3,07/03/2024,Sem apostas,NaN,NaN
4,08/03/2024,1,"R$ 14,26 / + R$ 9,69","+ 0,6800%"
5,09/03/2024,1,"R$ 28,52 / - R$ 28,52","- 2,0000%"
6,10/03/2024,Sem apostas,NaN,NaN
7,TOTAL,5,"R$ 99,82 / - R$ 33,09","- 2,3200%"

In [6]:
pdf[1]

,Esporte,Campeonato,Jogo,Mercado,Odd,Investimento,Resultado
0,Tênis,Qualificação\rMaster 1000\rIndian Wells,Maximilian\rMarterer x\rLukas Klein,Vencedor\rMarterer,2.07\r(P),"14,26","0,00"
1,Tênis,Qualificação\rMaster 1000\rIndian Wells,Yoshihito\rNishioka x\rJuncheng\rShang,Handicap -1.5\rG Nishioka,2.01\r(P),"14,26","0,00"

In [12]:
pdf[4]

,Esporte,Campeonato,Jogo,Mercado,Odd,Investimento,Resultado
0,Futebol,Espanha: La\rLiga,Valência x\rGetafe,Mais de 1.5 G,1.57\r(1X),"28,52","0,00"

In [15]:
tabBets = pd.concat(pdf[1:], ignore_index=True)

In [16]:
tabBets

,Esporte,Campeonato,Jogo,Mercado,Odd,Investimento,Resultado
0,Tênis,Qualificação\rMaster 1000\rIndian Wells,Maximilian\rMarterer x\rLukas Klein,Vencedor\rMarterer,2.07\r(P),"14,26","0,00"
1,Tênis,Qualificação\rMaster 1000\rIndian Wells,Yoshihito\rNishioka x\rJuncheng\rShang,Handicap -1.5\rG Nishioka,2.01\r(P),"14,26","0,00"
2,Basquete,NBA,Philadelphia\r76ers x\rMemphis\rGrizzlies,Mais de 204 P,1.50\r(1X),"28,52","42,78"
3,Futebol,Holanda:\rEerste\rDivisie,Cambuur x\rGraafschap,Handicap\r+0.5\rGraafschap,1.68\r(P),"14,26","23,95"
4,Futebol,Espanha: La\rLiga,Valência x\rGetafe,Mais de 1.5 G,1.57\r(1X),"28,52","0,00"